html,body {height:100%}
body {
  font-size: 14px;
  font-family: "Montserrat",sans-serif;
}
p {margin: 0; padding: 0}
.site-wrap, .features-1, .features-2, .contact {
  height: 100%;
}

.navbar-default {
  border: none;
  background: 0 0;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}
.top-nav-collapse {
  background: rgba(0, 0, 0, 0.15);
}


.home {
  height: 100%;
  background: url(../img/swipper-bg.png) no-repeat bottom center scroll;
  background-color: #f8e514;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.features-2 {
  background-color: #55576a;
}